.container {
  border: 2px solid #777;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-grow: 1;
  position: relative;
}

.container:focus {
  border: 2px solid rgb(102, 164, 164);
}

.value {
  display: flex;
  gap: 0.5rem;
  flex-grow: 1;
  flex-wrap: wrap;
}

.button {
  border: none;
  color: #777;
  font-size: 1.35em;
  cursor: pointer;
  font-weight: bold;
}

.divider {
  background-color: #777;
  width: 0.05em;
  align-self: stretch;
}

.caret {
  border: 0.25em solid transparent;
  border-top-color: #777;
  translate: 0 45%;
  cursor: pointer;
  font-size: 1.35em;
}

.caret-rev {
  border: 0.25em solid transparent;
  border-bottom-color: #777;
  translate: 0 10%;
  cursor: pointer;
  font-size: 1.35em;
}

.options {
  list-style: none;
  position: absolute;
  top: 3rem;
  left: 0;
  border: 1px solid #777;
  max-height: 15em;
  border-radius: 0.5em;
  padding: 0;
  width: 100%;
  display: none;
  margin: 0;
  max-height: 15em;
  overflow-y: auto;
  z-index: 100;
  background-color: white;
}

.show {
  display: block;
}

.hovered {
  background-color: rgb(152, 241, 241);
}

.selected {
  background-color: rgb(106, 185, 185);
  color: white;
}

.option {
  padding: 0.5em;
  cursor: pointer;
}

.option-badge {
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border: none;
  background-color: rgb(106, 185, 185);
  border-radius: 5px;
  padding: 0.3rem;
  font-weight: bold;
  color: #333;
  transition: all 0.3s;
}

.option-badge:hover {
  background-color: rgb(255, 108, 108);
}

.remove-button {
  margin-left: 0.2rem;
  font-size: 1rem;
  translate: 0 25%;
  font-weight: bold;
  background: none;
  transform: translate(0px, -6px);
}
