.status {
    border: 2px solid #ccc;
    width: 800px;
    border-radius: 11px;
    transition: all .5s;
    text-align: center;
    font-weight: bold;
    color: white;

    span {
        background-color: transparent;
    }
}

.bar {
    background-color: red;
    height: 1rem;
    border-radius: 11px;
    transition: all .5s;
}

.button {
    height: 2rem;
    border: none;
    color: white;
    background-color: grey;
    border-radius: 11px;
    cursor: pointer;
    margin-left: 1rem;

    &-1 {
        margin: 0 1rem 0 0
    }
}